/* =========================side_bar============================ */

.side_par .logo{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
   position: relative;

}

.side_par .photo_sid_r img{
   width: 90%;
   
}
.side_par .photo_sid_l {
 display: flex;
 align-items: center;
 justify-content: center;
   
}
.side_par .photo_sid_l img{
   width: 100%;
   height: 40%;
   position: relative;
   right: -24%;
}

.side_par .sticker{
    width: 100%;
    height: 20%;
    background-color:  var(--side_bar_color);
    position: absolute;
   right: 0%;
   bottom: 7%;
}
.side_par .menu{
    width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0px; 
  font-family: DIN Next LT Arabic;
  font-size: 1em;

}
.side_par ul{
    width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0px; 
  font-family: DIN Next LT Arabic;
  font-size: 1em;

}
.side_par ul li{
    width: 90%;
    height: 45px;
    color: var(--side_bar_text_color);
    
  

 
  
}
.side_par ul li a{
    padding-right: 15%;
    display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 6%;
   line-height: 45px; 
   color: var(--side_bar_text_color);
}
.side_par_activ a{
   
   color: black !important;
}

.side_par_activ {
    border-radius: 0px 23px 23px 0px;
  background-color: var(--bg_activ_color_lisbr);
  color: black;
}
.side_par ul li svg{

   color: var(--side_bar_svg_color) ;

}
.side_par ul li i{
font-size: 1.5rem;
   color: var(--side_bar_svg_color) ;

}

.side_par ul li.side_par_activ svg {
   
    color: black;
    
 }
.side_par ul li.side_par_activ #svg {

    filter: hue-rotate(0) invert(4444);
 }
.side_par ul li.side_par_activ #svg1 {
   
   
    filter: brightness(20) invert(1);
 }

 .side_par_activ a{
   
    color: black !important;
 }
 
 .side_par_activ {
     border-radius: 0px 23px 23px 0px;
   background-color: var(--bg_activ_color_lisbr);
   color: black;
 }
 .side_par ul li svg{
 
    color: var(--side_bar_svg_color) ;
 
 }
 .side_par ul li i{
 font-size: 1.5rem;
    color: var(--side_bar_svg_color) ;
 
 }
 
 .side_par ul li.side_par_activ svg {
    
     color: black;
     
  }
 .side_par ul li.side_par_activ #svg {
 
     filter: hue-rotate(0) invert(4444);
  }
 .side_par ul li.side_par_activ #svg1 {
    
    
     filter: brightness(20) invert(1);
  }

  