
.page_card{
    width: 100%;
    height: 86vh;
    background-color: var(--bg_color_hd);
    box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.092);
    border-radius: 20px;
}

.alloys_details{
    text-align: right;
}
.alloys_details ul{
    height: max-content;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    
    gap: 5px;
    
}
.alloys_details ul li:hover a span{
  
    color: goldenrod ;
   
    
}
/* ============================= */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 100% ;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 100%;
  width: 100%;
}

.mySwiper {
  height: 100% ;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 .swiper-slide {
  width: 25%;
  height: 100%;
  
}
.mySwiper2 .swiper-slide {
  width: 25%;
  height: 100%;
  
}
.mySwiper .swiper-slide {
  width: 100% ;
  height: 20%;
  
}
.mySwiper .swiper-slide img {
  width: 100% ;
  height: 100%;
  
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================================ */
.descrption{

   text-align: right; 
}

.descrption h1{


font-family: 'DIN Next LT Arabic';
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
color: var(--txt_color);
margin-bottom: 40px;
}
.descrption h2{

font-family: 'DIN Next LT Arabic';
font-style: normal;
font-weight: 700;
font-size:1.5rem;
color: var(--txt_color);


}
.descrption div{

font-family: 'DIN Next LT Arabic';
font-style: normal;
font-weight: 500;
font-size: 1.1rem;
color: var(--txt_color);

}
.descrption .descrption_fav li{

font-family: 'DIN Next LT Arabic';
font-style: normal;
font-weight: 400;
font-size: 1rem;
color: var(--txt_color_gray);

}
.descrption .descrption_fav li a{

display: flex;
gap: 10px;
color: var(--txt_color_gray);
}
.descrption .descrption_ofr li{

font-family: 'DIN Next LT Arabic';
font-style: normal;
font-weight: 400;
font-size: .9rem;
text-align: right;

color: var(--txt_color_gray);

}
.descrption .descrption_ofr li a{

color: var(--txt_color_gray);
margin-right: 5px;
text-decoration-line: underline;

}

.descrption .descrpt_contnt{


font-family: 'DIN Next LT Arabic';
font-style: normal;
font-weight: 400;
font-size: 1.1rem;
color: var(--txt_color_gray);

}
.descrption .descrpt_contnt small{

color: rgba(214, 214, 214, 1);

}
.descrption button{
    width: 90%;
height: 56px;
border-radius: 30px;
background-color: var(--button);
border: none;
font-weight: 600;
font-size: 1.2rem;
transition: .5s;
}
.descrption button:hover{

background-color: var(--bt_hov);

}


.galry_detls {
    width: 100%;
    height: 100%;
    
     
}
.galry_detls .galry_detls_opt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    
     
}
.galry_detls .galry_detls_opt .gal_dt_opt_ptn{
    width: 80px;
    height: 101px;
    border: solid 1.5px var(--side_bar_svg_color);
    padding: 0px 5px;
    background-color: transparent;
    opacity: 0.7;
    border-radius: 10px;
    transition: 0.3s;

     
}
.galry_detls .galry_detls_opt .gal_dt_opt_ptn.gal_dt_opt_ptn_active{
   
  border: solid 1.5px gold;
  opacity: 1;
     
}
.galry_detls .galry_detls_opt .gal_dt_opt_ptn img{
    width: 40px;
    height: 67px;
   
}
.con_gal_pht{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1.5px var(--side_bar_svg_color);
    border-radius: 20px;
    padding: 45px 20px 40px 20px ;


}

.faid{
    transition: opacity .3s ease;
    opacity: 0.5;
}
/* ======================================== */

.darck_lyo{
position: fixed;
inset: 0;
background-color: #0000005e;
z-index: 999;
}

.descrption .option_prudct{

    width: 37%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
 
 }
 .descrption .option_prudct h1{
 
    margin: 0px;
 
 }
 .descrption .option_prudct ul{
 
    width: 100%;
   
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4rem;
 font-weight: 500; 
 margin: 0px;
 }
 .descrption .option_prudct ul li{
 
 width: 95%;
 display: flex;
 
 justify-content: center;
 padding: 10px 0px;
 border-radius: 10px;
 
 }
 .descrption .option_prudct ul li a{
 
    color: var(--txt_color_gray);

 
 }
 .descrption .option_prudct ul li:hover a{
 
    color: var(--txt_color);

 
 }
 .descrption .option_prudct ul li:hover{
 
   background-color: var(--button);
   font-weight: 600;
 }
 .descrption .option_prudct button{
 background-color: transparent;
  color: var(--red_color);
  
 
 }
 .descrption .option_prudct button:hover{
 background-color: transparent;
  color: rgb(253, 41, 41);
  font-size: 1.3rem;
 
 
 }
 .descrption .option_prudct span{
 
  font-size: 1.6rem;
  font-weight: 600;
 
 font-family: 'Courier New', Courier, monospace;
 font-style: normal;
 position: absolute;
 left: 4%;
 top: 3%;
 transition: .5s;
 padding: 0px 10px;
 border-radius: 10px;
 }
 .descrption .option_prudct span:hover{
 
  font-size: 1.7rem;
 background-color: var(--red_color);
 color: var(--wight_color);
 cursor: pointer;
 }

 