main{
    padding-right: 58px !important;
}

.bt_flt_l{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}
.bt_flt_l button{
   width: 104px;
   height: 31px;
   border-radius: 20px;
   background-color: var(--bt_flt_l_color);
   border: transparent;
   color: var(--bt_flt_l_txtcolor);
}
.bt_flt_l button.bt_flt_l_activcolor {
  
   background-color: var(--bt_flt_l_activcolor);
   color: var(--txt_color);
   font-weight: 500;
}
.bt_flt_r {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}



.bt_flt_r select{
  
    width: 150px;
   height: auto;
   border-radius: 20px;
   background-color: var(--bg_color_hd);
   border: transparent;
   color: var(--txt_color);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 10px;
   direction: rtl;
   box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.092);
   outline: unset;
  
  
}
.bt_flt_r select option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
   
}
/* =======================conbalanc================== */
.conbalanc{
   
    display: flex; 
    align-items: center;
    justify-content: center;
   
    color: var(--wight_color);
    
}

.conbalanc .balanc .eye{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    top: 6%;
 
    
}
.balanc{
    height: 170px !important;
    background: url("../../../public/Assets/img/Frame\ 1943.png") rgba(22, 22, 34, 1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.balanc > img{
   
    width: 52px;
    height: 52px;
    
}

.balanc h6 strong {

font-family: 'Almarai';
font-style: normal;
font-weight: 600;
font-size: 1rem;
color: var(--wight_color);
margin: 0px;
letter-spacing: -0.008em;



}
.balanc h5 , .balanc h6 {

font-family: 'Almarai';
font-style: normal;
font-weight: 400;
font-size: 1.3rem;
color: var(--wight_color);
margin: 0px;
opacity: 0.8;

}
.balanc h4 {

font-family: 'Almarai';
font-style: normal;
font-weight: 600;
font-size: 1.2rem;
letter-spacing: -0.008em;
color: #FAFCFF;
opacity: 0.8;
margin: 0px;
}
.balanc h2 {

   display: flex;
   gap: 13px;
   color: var(--bt_flt_l_activcolor);
   margin: 0px;
}
.balanc h2 small{

display: flex;
align-items: center;
justify-content: center;
font-family: 'Zaatar-Regular';
font-style: normal;
font-weight: 600;
font-size: 1.6rem;
line-height: 12px;
margin: 0px;
    
}
.balanc h2 span{

display: flex;
align-items: center;
justify-content: center;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 2rem;
letter-spacing: -0.0205em;
margin: 0px;
    
}
/* ====================ditl======================== */

.ditl {
    width: 96.9%;
    height: 85px;
    box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.092);
    border-radius: 20px;
    margin-left: 40px !important;
}
.ditl div{
    
    height: 100%;

}
.ditl .ditl_dirc a{

    display: flex;
    align-items: center;
    gap: 5px;
}
.ditl .ditl_dirc i{
 font-size: .8rem;
 
 border: solid 2px var(--black_color);
 padding: 3px ;
 border-radius: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: black;

}
.ditl .ditl_dirc span{
 font-size: 1rem;
font-family: 'Almarai';
font-style: normal;
font-weight: 600;
font-size: 1.3rem;
color: var(--black_color);

}
.ditl .ditl_contnt {
text-align:right ;

}
.ditl .ditl_contnt h2 {

font-family: 'Almarai';
font-style: normal;
font-weight: 700;
font-size: 1.3rem;
margin: 0px;

}
.ditl .ditl_contnt strong {
    font-size: 1.1rem;
    font-weight: 600;
display: flex;
align-items: center;
flex-direction: row-reverse;
gap: 5px;
color: var(--bt_flt_l_activcolor);
margin-bottom: 2px;
}
.ditl .ditl_contnt strong span {

font-size: .6rem;
font-weight: 400;
color: var(--black_color);


}
.ditl .ditl_contnt  p {

font-family: 'Almarai';
font-style: normal;
font-weight: 700;
font-size: .7rem;
display: flex; 
justify-content: flex-end;
gap: 5px;

}
.ditl .ditl_pht img {
width: 87px;
height: 100%;
display: flex;
justify-self: center;

}

/* ======================== cros_pages =================== */

.cros_pages{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    
}
.cros_pages div{
    width: max-content;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(233, 233, 233, 1);
    cursor: pointer;
    padding: 3px 7px !important;
    border-radius: 5px;

}
.cros_pages div span{
   font-size: .9rem;
   font-weight: 400;
   color: var(--txt_color_gray);
   

}
.cros_pages  .activ_cros_pages {
    background-color: var(--bt_flt_l_activcolor);
   color: var(--black_color);
   transform: scale(1.2);
   transition: .4s;

}
.cros_pages  .cros_pages_stp:hover {
    background-color: var(--bt_flt_l_activcolor);
   color: var(--black_color);
   transform: scale(1.1);
   transition: .5s;

}

/* ============================================ */
