
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    font-style: normal;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: rgb(250, 248, 248) !important ;
}
body a{
    text-decoration: none;
   color: var(--black_color);
}

:root{
    --side_bar_color:rgba(22, 22, 34, 1);
    --side_bar_text_color:rgba(255, 255, 255, 0.8);
    --side_bar_svg_color_activ:rgba(22, 22, 34, 1);
    --side_bar_svg_color:rgba(208, 208, 211, 1);
    --wight_color:#ffffff;
    --black_color:black;
    --red_color:red;
    --bg_activ_color_lisbr: rgba(249, 249, 249, 1);
    --bg_color_hd: rgba(255, 255, 255, 1);
    --bg_color_notfcation: rgba(253, 13, 0, 0.6);
    --bg_color_green: rgba(85, 201, 96, 1);
    --txt_color: #2e2e3b;
    --txt_color_gray: #4f4f58;
    --bt_flt_l_activcolor: rgba(255, 218, 57, 1);
    --button: rgba(255, 218, 57, 1);
    --bt_hov: rgb(245, 206, 33);
    --bt_flt_l_txtcolor: rgba(163, 163, 163, 1);


}